---
import Card from "@components/Card";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import getPostsByTag from "@utils/getPostsByTag";
import { getTagsDB } from "@utils/tags";
import { getCollection } from "astro:content";

export interface Props {
  tag: string;
}

export async function getStaticPaths() {
  const posts = await getCollection("post");

  const tags_db = getTagsDB(posts);

  return tags_db.tag_slugs.map((slug) => {
    return {
      params: { slug: slug },
      props: { tag: tags_db.slug_to_tag.get(slug) },
    };
  });
}

const { slug } = Astro.params;
const { tag } = Astro.props;
const filteredPosts = await getCollection("post", ({ data }) => !data.draft);
const tagPosts = getPostsByTag(filteredPosts, slug!).sort((a, b) => {
  const a_date = a.data.updated || a.data.created;
  const b_date = b.data.updated || b.data.created;
  return b_date.getTime() - a_date.getTime();
});
---

<Layout title={`Tag: ${tag} | ${SITE.title}`}>
  <Header activeNav="tags" />
  <Main
    pageTitle={`Tag: ${tag}`}
    pageDesc={`All the articles with the tag "${tag}".`}
    breadcrumbProps={{ context: "tags", tag }}
  >
    <ul>
      {
        tagPosts.map(({ slug, data }) => (
          <Fragment key={slug}>
            <Card href={`/posts/${slug}`} frontmatter={data} />
          </Fragment>
        ))
      }
    </ul>
  </Main>
  <Footer />
</Layout>
