---
import { getCollection } from "astro:content";
import { MdRssFeed } from "react-icons/md/index";
import { SOCIALS } from "@config";
import { TbArrowRight } from "react-icons/tb/index";
import Card from "@components/Card";
import Footer from "@components/Footer.astro";
import getSortedPosts from "@utils/getSortedPosts";
import Header from "@components/Header.astro";
import Hr from "@components/Hr.astro";
import Layout from "@layouts/Layout.astro";
import Link from "@components/Link";
import LinkButton from "@components/LinkButton.astro";
import Socials from "@components/Socials.astro";

const posts = await getCollection("post");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter((social) => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>For the future me and other beings</h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <MdRssFeed className="rss-icon" />
      </a>
      <h2>Too much knowledge, I need an external brain 🧠</h2>

      <p>I write down the things I studied for future reference.</p>
      <p>
        I used
        <Link href="https://hexo.io/"><span>Hexo</span></Link> to build my blog for
        a long time. But the theme broke around Hexo 4 and I haven't publish it since
        2019.
      </p>
      <p>
        Recently I adopted <Link
          href="https://www.wikiwand.com/en/Zettelkasten"
        >
          <span>Zettelkasten</span>
        </Link> method and had been using
        <Link href="https://foambubble.github.io/foam/">
          <span>Foam</span>
        </Link> to refactor my notes.
      </p>
      <p>
        With the release of <Link href="https://astro.build/">
          <span>Astro</span>
        </Link> 2.0 I decided to try it out and build this blog with it.
      </p>
      <p>
        Check
        <Link href="/about">
          <span>About</span>
        </Link> for details of how the migration is done.
      </p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured</h2>
            <ul>
              {featuredPosts.map(({ slug, data }) => (
                <Card
                  href={`/posts/${slug}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          <Hr />
        </>
      )
    }

    <section id="recent-posts">
      <h2>Recent Posts</h2>
      <ul>
        {
          sortedPosts.map(
            ({ slug, data }, index) =>
              index < 4 && (
                <Card
                  href={`/posts/${slug}`}
                  frontmatter={data}
                  secHeading={false}
                />
              )
          )
        }
      </ul>
      <div class="all-posts-btn-wrapper">
        <LinkButton href="/posts">
          All Posts
          <TbArrowRight />
        </LinkButton>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pt-8 pb-6;
  }
  #hero h1 {
    @apply my-4 inline-block text-2xl font-bold sm:my-5 sm:text-3xl lg:my-6 lg:text-4xl;
  }
  #hero h2 {
    @apply my-2 text-xl font-bold  lg:text-2xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mr-2 mb-1 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pt-12 pb-6;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
