---
import { BiChevronLeft } from "react-icons/bi";
import { CreatedDatetime, UpdatedDatetime } from "@components/Datetime";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import Tag from "@components/Tag";
import type { CollectionEntry } from "astro:content";

export interface Props {
  post: CollectionEntry<"post">;
}

const { post } = Astro.props;

const { title, author, description, ogImage, created, updated, tags } =
  post.data;

const { Content } = await post.render();

const ogUrl = new URL(ogImage ? ogImage : `${post.slug}.svg`, Astro.url.origin)
  .href;
---

<Layout title={title} author={author} description={description} ogImage={ogUrl}>
  <Header />
  <div class="mx-auto flex w-full max-w-3xl justify-start px-2">
    <button
      class="focus-outline mt-8 mb-2 flex hover:opacity-75"
      onclick="history.back()"
    >
      <BiChevronLeft /><span>Go back</span>
    </button>
  </div>
  <main id="main-content">
    <h1 class="post-title">{title}</h1>
    <div class="flex">
      {
        updated && (
          <UpdatedDatetime datetime={updated} size="lg" className="my-2 mr-8" />
        )
      }
      <CreatedDatetime datetime={created} size="lg" className="my-2" />
    </div>
    <p>{description}</p>
    <ul class="tags-container">
      {tags.map((tag) => <Tag name={tag} />)}
    </ul>

    <article id="article" role="article" class="prose mx-auto mt-8 max-w-3xl">
      <Content />
    </article>
  </main>
  <Footer />
</Layout>

<style>
  main {
    @apply mx-auto w-full max-w-3xl px-4 pb-12;
  }
  .post-title {
    @apply text-2xl font-semibold text-skin-accent;
  }
</style>
