---
import { SITE } from "@config";
import { TbArrowLeft, TbArrowRight } from "react-icons/tb/index";
import Card from "@components/Card";
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import LinkButton from "@components/LinkButton.astro";
import Main from "@layouts/Main.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
  pageNum: number;
  totalPages: number;
  posts: CollectionEntry<"post">[];
}

const { pageNum, totalPages, posts } = Astro.props;

const prev = pageNum > 1 ? "" : "disabled";
const next = pageNum < totalPages ? "" : "disabled";
---

<Layout title={`Posts | ${SITE.title}`}>
  <Header activeNav="posts" />
  <Main
    pageTitle="Posts"
    pageDesc="All the articles I've posted."
    breadcrumbProps={{ context: "posts", pageNum, totalPages }}
  >
    <ul>
      {
        posts.map(({ slug, data }) => (
          <Card href={`/posts/${slug}`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  {
    totalPages > 1 && (
      <nav class="pagination-wrapper" aria-label="Pagination">
        <LinkButton
          disabled={prev === "disabled"}
          href={`/posts${pageNum - 1 !== 1 ? "/" + (pageNum - 1) : ""}`}
          className={`mr-4 select-none ${prev}`}
          ariaLabel="Previous"
        >
          <TbArrowLeft className={`${next}-svg`} />
          Prev
        </LinkButton>
        <LinkButton
          disabled={next === "disabled"}
          href={`/posts/${pageNum + 1}`}
          className={`ml-4 select-none ${next}`}
          ariaLabel="Next"
        >
          Next
          <TbArrowRight className={`${next}-svg`} />
        </LinkButton>
      </nav>
    )
  }
  <Footer noMarginTop={totalPages > 1} />
</Layout>

<style>
  .pagination-wrapper {
    @apply mt-auto mb-8 flex justify-center;
  }
  .disabled {
    @apply pointer-events-none select-none opacity-50 hover:text-skin-base group-hover:fill-skin-base;
  }
  .disabled-svg {
    @apply group-hover:!fill-skin-base;
  }
</style>
